@page
@model ToDoApp.Pages.ToDos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Czy na pewno usunąć?</h3>
<div>
    <h4>ToDo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToDo.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToDo.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToDo.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToDo.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ToDo.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
